In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from pandas.plotting import scatter_matrix
import math

In [3]:
from sklearn.impute import SimpleImputer

# EDA - Bureau.csv

In [4]:
description = pd.read_csv(r"C:\Users\ADMIN\Downloads\dseb-64-data-preparation-final-project\dseb63_columns_description.csv", encoding = 'Latin-1')

In [5]:
bureau = pd.read_csv(r"C:\Users\ADMIN\Downloads\dseb-64-data-preparation-final-project\dseb63_final_project_DP_dataset\dseb63_final_project_DP_dataset\dseb63_bureau.csv")

In [6]:
for col in bureau.columns:
    
    name = ''.join(description[description['Row'] == col]['Description'].values)
    
    print(f'{col}: {name} ')

SK_ID_BUREAU:
CREDIT_ACTIVE: Status of the Credit Bureau (CB) reported credits
CREDIT_CURRENCY: Recoded currency of the Credit Bureau credit
DAYS_CREDIT: How many days before current application did client apply for Credit Bureau credit
CREDIT_DAY_OVERDUE: Number of days past due on CB credit at the time of application for related loan in our sample
DAYS_CREDIT_ENDDATE: Remaining duration of CB credit (in days) at the time of application in Home Credit
DAYS_ENDDATE_FACT: Days since CB credit ended at the time of application in Home Credit (only for closed credit)
AMT_CREDIT_MAX_OVERDUE: Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)
CNT_CREDIT_PROLONG: How many times was the Credit Bureau credit prolonged
AMT_CREDIT_SUM: Current credit amount for the Credit Bureau credit
AMT_CREDIT_SUM_DEBT: Current debt on Credit Bureau credit
AMT_CREDIT_SUM_LIMIT: Current credit limit of credit card reported in Credit Bureau
AMT_CREDIT_SUM_OVERDUE: Current amount overdue on Credit Bureau credit
CREDIT_TYPE: Type of Credit Bureau credit (Car, cash,...)
DAYS_CREDIT_UPDATE: How many days before loan application did last information about the Credit Bureau credit come
AMT_ANNUITY: Loan annuityAnnuity of the Credit Bureau creditAnnuity of previous application
SK_ID_CURR: ID of loan in our sampleID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ID of loan in our sampleID of loan in our sampleID of loan in our sampleID of loan in our sample

In [7]:
bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465325 entries, 0 to 1465324
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   SK_ID_BUREAU            1465325 non-null  int64
 1   CREDIT_ACTIVE           1465325 non-null  object
 2   CREDIT_CURRENCY         1465325 non-null  object
 3   DAYS_CREDIT             1465325 non-null  int64
 4   CREDIT_DAY_OVERDUE      1465325 non-null  int64
 5   DAYS_CREDIT_ENDDATE     1376227 non-null  float64
 6   DAYS_ENDDATE_FACT       920652 non-null   float64
 7   AMT_CREDIT_MAX_OVERDUE  516780 non-null   float64
 8   CNT_CREDIT_PROLONG      1465325 non-null  int64
 9   AMT_CREDIT_SUM          1465322 non-null  float64
 10  AMT_CREDIT_SUM_DEBT     1242231 non-null  float64
 11  AMT_CREDIT_SUM_LIMIT    975655 non-null   float64
 12  AMT_CREDIT_SUM_OVERDUE  1465325 non-null  float64
 13  CREDIT_TYPE             1465325 non-null  object
 14  DAYS_CREDIT_UPDATE      1465325 non-null  int64
 15  AMT_ANNUITY             335312 non-null   float64
 16  SK_ID_CURR              1465325 non-null  int64
dtypes: float64(8), int64(6), object(3)
memory usage: 190.1+ MB

In [8]:
bureau.head()

,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,SK_ID_CURR
0,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,254629
1,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,254629
2,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,254629
3,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,254629
4,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,254629

In [9]:
bureau.describe()

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,SK_ID_CURR
count,1.465325e+06,1.465325e+06,1.465325e+06,1.376227e+06,920652.000000,5.167800e+05,1.465325e+06,1.465322e+06,1.242231e+06,9.756550e+05,1.465325e+06,1.465325e+06,3.353120e+05,1.465325e+06
mean,5.890328e+06,-1.143600e+03,8.887612e-01,4.931322e+02,-1022.765286,3.942852e+03,7.278249e-03,3.516889e+05,1.358890e+05,6.363687e+03,4.010547e+01,-5.997869e+02,1.576301e+04,1.538762e+05
std,5.378271e+05,8.000200e+02,3.824707e+01,4.964905e+03,718.371749,2.196856e+05,1.026408e-01,1.078009e+06,6.756650e+05,4.543915e+04,6.273639e+03,7.371010e+02,2.681074e+05,8.889888e+04
min,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-42023.000000,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00,0.000000e+00
25%,5.416944e+06,-1.671000e+03,0.000000e+00,-1.144000e+03,-1503.000000,0.000000e+00,0.000000e+00,5.116500e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.040000e+02,0.000000e+00,7.668500e+04
50%,5.856021e+06,-9.850000e+02,0.000000e+00,-3.340000e+02,-900.000000,0.000000e+00,0.000000e+00,1.246981e+05,0.000000e+00,0.000000e+00,0.000000e+00,-4.060000e+02,6.750000e+01,1.540400e+05
75%,6.363543e+06,-4.700000e+02,0.000000e+00,4.730000e+02,-427.000000,0.000000e+00,0.000000e+00,3.082500e+05,3.965400e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.399050e+04,2.308560e+05
max,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000,1.159872e+08,9.000000e+00,3.960000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,5.958668e+07,3.075090e+05

Column "CREDIT_DAY_OVERDUE" has a huge maximum number compared to its distribution.   
Column "DAYS_CREDIT_ENDATE" has null values. Also huge difference between maximum numbers and minimum number.  
Column "DAYS_ENDDATE_FACT" has considerable number of null values,huge std, extremely small min.  
Column "AMT_CREDIT_MAX_OVERDUE" has lots of null values, hufe std, and large max.  
Column "CNT_CREDIT_PROLONG" has huge max.  
Column "AMT_CREDIT_SUM" has large std, comparably small min and high max.  
Column "AMT_CREDIT_SUM_DEBT" has high stat of std, small min and high 75% cap as well as max.  
Column "AMT_CREDIT_SUM_LIMIT" has null values, small min and high max.  
Column "AMT_CREDIT_SUM_OVERDUE" has high max values.  
Column "DAYS_CREDIT_UPDATE" has small min and huge max value.  
Column "AMT_ANNUITY" has high cap 75% and max value.

In [10]:
# Check values in categorical column
for col in bureau.columns:
    if bureau[col].dtype == 'object':
        print(f"{col}: {bureau[col].value_counts()}")

CREDIT_ACTIVE: CREDIT_ACTIVE
Closed      917733
Active      541919
Sold          5653
Bad debt        20
Name: count, dtype: int64
CREDIT_CURRENCY: CREDIT_CURRENCY
currency 1    1464094
currency 2       1072
currency 3        150
currency 4          9
Name: count, dtype: int64
CREDIT_TYPE: CREDIT_TYPE
Consumer credit                                 1069610
Credit card                                      343853
Car loan                                          23757
Mortgage                                          15607
Microloan                                          9005
Loan for business development                      1721
Another type of loan                                854
Unknown type of loan                                472
Loan for working capital replenishment              377
Real estate loan                                     23
Cash loan (non-earmarked)                            23
Loan for the purchase of equipment                   17
Loan for purchase of shares (margin lending)          4
Mobile operator loan                                  1
Interbank credit                                      1
Name: count, dtype: int64

Column like 'CREDIT_DAY_OVERDUE', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY' only appear in first bin.
Column "DAYS_CREDIT_ENDDATE" has some outliers in the right.

There isnt any correlation in the dataset

# CLEANING DATA

## REMOVE OUTLIERS

In [11]:
# Create a function to remove outlier   
def find_outliers(data, whisker_coeff = 1.5):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)                
    IQR = Q3 - Q1                                   
    lower = Q1 - whisker_coeff * IQR
    upper = Q3 + whisker_coeff * IQR
    return lower, upper

class RemoveOuliers():
    def __init__(self, whisker_coeff = 1.5):
        self.whisker = whisker_coeff
        self.lower = None
        self.upper = None
    def fit(self, X: pd.Series):
        self.lower, self.upper = find_outliers(X, self.whisker)
    def transform(self, X):
        return X.clip(self.lower, self.upper)

In [12]:
# remove outliers in each columns
for col in bureau.columns:
    if bureau[col].dtype != 'object':
        remove = RemoveOuliers()
        remove.fit(bureau[col])
        bureau[col] = remove.transform(bureau[col])

## DEAL WITH MISSING VALUE

In [13]:
# Percentage of null values in each columns
bureau.count() / len(bureau) * 100

SK_ID_BUREAU              100.000000
CREDIT_ACTIVE             100.000000
CREDIT_CURRENCY           100.000000
DAYS_CREDIT               100.000000
CREDIT_DAY_OVERDUE        100.000000
DAYS_CREDIT_ENDDATE        93.919574
DAYS_ENDDATE_FACT          62.829202
AMT_CREDIT_MAX_OVERDUE     35.267262
CNT_CREDIT_PROLONG        100.000000
AMT_CREDIT_SUM             99.999795
AMT_CREDIT_SUM_DEBT        84.775118
AMT_CREDIT_SUM_LIMIT       66.582840
AMT_CREDIT_SUM_OVERDUE    100.000000
CREDIT_TYPE               100.000000
DAYS_CREDIT_UPDATE        100.000000
AMT_ANNUITY                22.883115
SK_ID_CURR                100.000000
dtype: float64

In [14]:
# Fill in null values
columns2 = ["DAYS_CREDIT_ENDDATE","DAYS_ENDDATE_FACT", "AMT_CREDIT_MAX_OVERDUE", "AMT_CREDIT_SUM", "AMT_CREDIT_SUM_DEBT", "AMT_CREDIT_SUM_LIMIT", "AMT_ANNUITY"]
for col in columns2:
    if bureau[col].dtype == 'object':
        imputer = SimpleImputer(strategy = 'most_frequent')
        bureau[col] = imputer.fit_transform(bureau[[col]])
    else:
        imputer = SimpleImputer(strategy = 'mean')
        bureau[col] = imputer.fit_transform(bureau[[col]])

In [15]:
# New percentage of null values in each columns
bureau.count() / len(bureau) * 100

SK_ID_BUREAU              100.0
CREDIT_ACTIVE             100.0
CREDIT_CURRENCY           100.0
DAYS_CREDIT               100.0
CREDIT_DAY_OVERDUE        100.0
DAYS_CREDIT_ENDDATE       100.0
DAYS_ENDDATE_FACT         100.0
AMT_CREDIT_MAX_OVERDUE    100.0
CNT_CREDIT_PROLONG        100.0
AMT_CREDIT_SUM            100.0
AMT_CREDIT_SUM_DEBT       100.0
AMT_CREDIT_SUM_LIMIT      100.0
AMT_CREDIT_SUM_OVERDUE    100.0
CREDIT_TYPE               100.0
DAYS_CREDIT_UPDATE        100.0
AMT_ANNUITY               100.0
SK_ID_CURR                100.0
dtype: float64

In [16]:
bureau.to_csv('D:/cleaned_bureau_ver1')

# bureau_balance EDA

In [17]:
bb = pd.read_csv(r"C:\Users\ADMIN\Downloads\dseb-64-data-preparation-final-project\dseb63_final_project_DP_dataset\dseb63_final_project_DP_dataset\dseb63_bureau_balance.csv")

In [18]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

In [19]:
bb.describe()

       SK_ID_BUREAU  MONTHS_BALANCE
count  2.729992e+07    2.729992e+07
mean   6.036297e+06   -3.074169e+01
std    4.923489e+05    2.386451e+01
min    5.001709e+06   -9.600000e+01
25%    5.730933e+06   -4.600000e+01
50%    6.070821e+06   -2.500000e+01
75%    6.431951e+06   -1.100000e+01
max    6.842888e+06    0.000000e+00

In [21]:
bb.isnull().sum() / len(bb)

SK_ID_BUREAU      0.0
MONTHS_BALANCE    0.0
STATUS            0.0
dtype: float64

From the information above, bureau_balance is already cleaned